<section class="background">

  <section class="content">

    <h1><%= @name %></h1>

    <form action='/mainpage' method='get'>
        <input type='submit' name='enter' value='Enter'>
    </form>

  </section>

</section>
