<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/app.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/mainpage.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="date_time.js"></script>

    <title>Till</title>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
