<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/app.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
    <title>Till</title>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
